@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 800;
  text-align: left;
  letter-spacing: 0.3em;
  color: black;
  width: 70%;
}


h2 {
  font-size: clamp(2rem, 2vw, 5rem);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: hsl(0, 0, 80%);
  width: 90vw;
  max-width: 1000px;
  letter-spacing: -0.05rem
  z-index: 2;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 3;
  height: 7em;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
  opacity: 0;
  transition: opacity 0.5 ease out;
}

.header-img {
  height: 5rem;
}

.logo-image {
  height: 4rem;
  max-height: 30vh;
  width: auto;
  object-fit: contain;
  border-radius: 50%
}

.fa-quote-left, .fa-quote-right {
  display: block;
  font-size: 2rem; 
  color: red;
}
#quote {
  color: black;
}

.scroll-indicator {
  position: absolute;
  bottom: 2rem; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: white;
  animation: pulse 3.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-50%) scale(1.5);
    opacity: 0;
  }
}
section {
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}

.big-video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 250.77777778vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
  min-width: 100%;
  min-height: 100%;
}

section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

section .bg h2 {
  z-index: 3;
}


.first .bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
    background-color: black;
}

.second .bg {
  background-color: black;
  height: 100%;
}

.video-background .content,
.content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  width: 30%;
  background-color: #FFF;
}

.third .bg {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.fourth .bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("images/kush.png");
}


.fourth .bg {
  background-image: url('images/no_bg.png'); /* Replace with your actual image path */
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Optional: This keeps the background fixed during scroll */
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center; /* This will vertically center your .align div */
  justify-content: space-evenly; /* This will horizontally center your .align div */
}

/* Style your section header */
.fourth .section-header {
  color: yellow; /* Choose a color that contrasts well with your background */
  text-align: left;
  font-size: 3rem;
  font-weight: 500;
  z-index: 2;
  letter-spacing: 0px;
  width: 100vw;
}

.fourth .align {
  background: black;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}


.fourth .form {
  display: grid;
  gap: 1rem;
}

.fourth .form__input,
.fourth .form textarea {
  box-border: none;
  background-color: grey; 
  color: white; 
  height: 3rem;
  width: 100%;
  font-size: 2rem;
}

.fourth .form__input::placeholder,
.fourth .form textarea::placeholder {
  color: black;
  font-family: inherit
  font-size: 2rem;
}

.fourth .form__field button {
  background-color: white; /* White button */
  color: black; /* Black text */
  border: none;
  cursor: pointer;
  width: 100%;
  height: 4rem;
  font-size: 3rem;
}

.fourth .form__field button:hover {
  background-color: green;
  font-size: 3rem;
  font-weight: 900;
  transform: rotate(3deg)
}
.error-message {
  color: #ff3860;
  font-size: 14px;
  margin-top: 5px;
}

.form__input.large-input {
  width: 100%; /* or however wide you want it to be */
  height: 5em; /* or more, to make it larger */
  /* additional styling */
}

/* Adjust label styling as needed */
.hidden {
  display: none;
}

.logo-wrapper {
  position: relative;
}

.logo {
position: relative;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
}


.logo-image {
  height: 700px;
  opacity: 0.3;
}

.video-container {
  display: flex;
  /* justify-content: space-around; */
  align-items:center;
  justify-content: space-between;
  /* background-color: white; */
  width: 100%;
  /* transform: rotate(2deg); */
  background: white;
  padding: 1rem;
}


.video-container iframe {
  width: 30vw;
  max-height: 150px;
  aspect-ratio: 16/9;
}

.small-video {
  /* width: 50%; */
  /* height: auto; */
  /* max-height: 200px; */
}

.fourth .bg {
  display: flex;
  flex-direction: column;
}

